{% extends "blog/base.html" %}
{% block content %}

<div class="container mt-4">

    <h2 class="mb-4">Posts by {{ view.kwargs.username }} ({{page_obj.paginator.count}})</h2>

    {% for post in posts %}
    <article class="card mb-4 shadow-sm border-0">
        <div class="card-body">

            <!-- Author and Date -->
            <div class="d-flex align-items-center mb-3">
                <img 
                    class="rounded-circle me-2"
                    style="width:40px; height:40px; object-fit:cover;"
                    src="{{ post.author.profile.image.url }}"
                >

                <div>
                    <a class="fw-bold text-decoration-none ml-2" href="{% url 'profile-create' %}">
                        {{ post.author }}
                    </a>
                    <br>
                    <small class="text-muted ml-2">
                        {{ post.date_posted|date:"F d, Y" }}
                    </small>
                </div>
            </div>

            <!-- Post Title -->
            <h4>
                <a class="text-dark text-decoration-none" href="{% url 'post-detail' post.id %}">
                    {{ post.title }}
                </a>
            </h4>

            <!-- Post Content -->
            <p class="text-muted">
                {{ post.content|truncatewords:30 }}
            </p>

        </div>
    </article>
    {% endfor %}

</div>
{% if is_paginated %}

<nav class="mt-4 mb-4 ">
  <ul class="pagination justify-content-center align-items-center">

    <!-- Previous -->
    {% if page_obj.has_previous %}
      <li class="page-item">
        <a class="page-link rounded-pill px-3" href="?page={{ page_obj.previous_page_number }}">
          ← Prev
        </a>
      </li>
    {% endif %}

    <!-- Page Numbers -->
    {% for num in page_obj.paginator.page_range %}
      {% if page_obj.number == num %}
        <li class="page-item active">
          <span class="page-link  px-3">{{ num }}</span>
        </li>
      {% elif num > page_obj.number|add:'-2' and num < page_obj.number|add:'2' %}
        <li class="page-item">
          <a class="page-link rounded-circle px-3" href="?page={{ num }}">{{ num }}</a>
        </li>
      {% endif %}
    {% endfor %}

    <!-- Next -->
    {% if page_obj.has_next %}
      <li class="page-item">
        <a class="page-link rounded-pill px-3" href="?page={{ page_obj.next_page_number }}">
          Next →
        </a>
      </li>
    {% endif %}

  </ul>
</nav>
<style>
    .pagination .page-link {
  border: none;
  color: #333;
  margin: 0 4px;
  transition: 0.3s;
}

.pagination .page-link:hover {
  background: #f1f1f1;
}

.pagination .active .page-link {
  background: #000;
  color: #fff;
}
</style>
{% endif %}
{% endblock content %}